<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.8.6" targetFramework="net48" />
  <package id="Masuit.Tools.Net" version="2024.3.4" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.2478.35" targetFramework="net48" />
  <package id="NLog" version="5.3.2" targetFramework="net48" />
  <package id="pythonnet" version="3.0.3" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net48" />
</packages>