<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Masuit.Tools.Net" version="2024.3.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="TouchSocket" version="2.0.10" targetFramework="net48" />
  <package id="TouchSocket.Core" version="2.0.10" targetFramework="net48" />
</packages>