<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HslCommunication" version="12.0.3" targetFramework="net48" />
  <package id="Masuit.Tools.Net" version="2024.4.1" targetFramework="net48" />
  <package id="MiniExcel" version="1.32.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="SunnyUI" version="3.6.7" targetFramework="net48" />
  <package id="SunnyUI.Common" version="3.6.7" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
</packages>